html{
    background-color: #581845;
}
body{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif
}
.container-fluid{
    background-color: rgba(240, 240, 26, 0.767);
    display: flex;
    justify-content: space-between;
}
#navbar{
    padding-top: 0%;
    padding-bottom: 0%;
    border-bottom: solid brown 3px ;
}
h1,h3{
    font-family: 'Bangers'
}
#botonB{
    font-family: 'Bangers'
}
#pokemonsList{
    display: flex;
    background-color: #581845;
    width: 100%;
}
.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 200px;
    background-color: rgb(230, 230, 230);
    margin: 3px;
    border: solid #1d006d 3px ;
    border-radius: 30px 10px;
}
.cardp{
    height: 300px;
    text-align: center;
}

#links{
    background-color: #720831;
    width: 100%;
}
button{
 background-color: lightpink;
 color: black;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 border-radius: 30px 10px;
 width: 175px;
}
.filtroBusqueda{
    border-radius: 10px;
}
.btn{
    background-color: brown;
    color: white;
    border-color: #720831;
    width: 70px;
}
#footer{
    width: 100%;
    text-align: center;
    background-color: brown;
    color: white;
}
.footcontent{
    position: fixed;
    bottom: 0;
    width: 100%;
}

