/* html{
    background-image: url(/img/pokeball.png);
    background-size: 100%;
    background-color: #09009B;
} */
#pokemons-list{
    display: flex;
    background-color: seashell;
    border: solid #d3d3d3 3px ;
    width: 100%;
}
.container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


.navbar{
    background-color: 0F00FF;
    width: 100%;
    text-align: center;
}